<div class="jumbotron jumbotron">
    <h1 class="display-4 text-left">MailApp</h1>
</div>

<div class="leftMenu row">
    <ul>
        <a href="">
            <li class="sidebar border-bottom border-top border-left border-right">Nuevo Mensaje (+)</li>
        </a>
        <a href="">
            <li class="sidebar border-bottom border-top border-left border-right">Bandeja de Entrada</li>
        </a>
        <a href="">
            <li class="sidebar border-bottom border-top border-left border-right">Papelera de Reiclaje</li>
        </a>
        <a href="">
            <li class="sidebar border-bottom border-top border-left border-right">Enviados</li>
        </a>
    </ul>
    <div class="view col-sm-9">
        <p>Soy un menu</p>
    </div>

</div>