<ul class="row nav flex-column text-center">
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['Bandeja de Entrada']">Bandeja de Entrada</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['Enviados']">Mensajes Enviados</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['Papelera']">Eliminados</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['Nuevo (+)']">Nuevo</a>
    </li>
</ul>