<ul class="nav flex-column">
    <li class="row nav-item" routerLinkActive="active">
        <a class="nav-link text-left fondoSide col-sm-8 pl-5" [routerLink]="['Bandeja de Entrada']">Bandeja de Entrada</a>
        <div class="d-flex align-items-center col-sm-2">
            <i class="fas fa-inbox"></i>
        </div>
    </li>

    <li class="row nav-item" routerLinkActive="active">
        <a class="nav-link text-left fondoSide col-sm-8 pl-5" [routerLink]="['Enviados']">Mensajes Enviados</a>
        <div class="d-flex align-items-center col-sm-2">
            <i class="far fa-share-square"></i>
        </div>
    </li>

    <li class="row nav-item" routerLinkActive="active">
        <a class="nav-link text-left fondoSide col-sm-8 pl-5" [routerLink]="['Papelera']">Eliminados</a>
        <div class="d-flex align-items-center col-sm-2">
            <i class="fas fa-trash-alt"></i>
        </div>
    </li>

    <li class="row nav-item" routerLinkActive="active">
        <a class="nav-link text-left fondoSide col-sm-8 pl-5" [routerLink]="['Nuevo (+)']">Nuevo</a>
        <div class="d-flex align-items-center col-sm-2">
            <i class="fas fa-plus-square"></i>
        </div>
    </li>
</ul>