<div class="container d-flex justify-content-end align-content-end">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar por asunto" (keyup.enter)="getBusqueda(buscar.value)" #buscar>
        <button class="btn btn-outline-dark my-2 my-sm-0" type="button" (click)="getBusqueda(buscar.value)">Buscar
        </button>
    </form>
</div>

<h5>Resultado de la búqueda</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Asunto</th>
            <th scope="col">De:</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of inbox; index as i">
        <tr *ngIf="item.subject == buscar.value">
            <td>{{item.subject}}</td>
            <td>{{item.sender}}</td>
            <td>{{item.created_date}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<h5>Favoritos</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Asunto</th>
            <th scope="col">De:</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of favorite; index as i">
        <tr *ngIf="item.favorite==true">
            <td>{{item.subject}}</td>
            <td>{{item.sender}}</td>
            <td>{{item.created_date}}</td>
        </tr>
    </tbody>
</table>
<br>

<h5>Recibidos</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Asunto</th>
            <th scope="col">De:</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of inbox; index as i">
        <tr *ngIf="item.favorite==false">
            <td>{{item.subject}}</td>
            <td>{{item.sender}}</td>
            <td>{{item.created_date}}</td>
        </tr>
    </tbody>
</table>