/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.sidebar {
    color: black;
    font-size: 18px;
    text-align: left;
}

li {
    list-style: none;
}


/* app.component styles starts */

.jumbotron {
    background-image: linear-gradient(-90deg, #007600, #efedef);
}

.tituloApp {
    text-shadow: 2px 4px;
    font-weight: bolder;
}


/* app.sidebar styles starts */

.fondoSide {
    text-decoration: none;
    color: black;
}

.fondoSide:hover {
    color: rgba(14, 2, 43, 0.966);
}


/* app.login styles starts */

.botonLogin {
    background-color: #002d00;
    color: white;
}

.leftMenu {
    margin-top: -32px;
    margin-left: -30px;
}

.view {
    margin-left: auto;
}

.formIngreso {
    margin-top: 150px;
}